*.o
*~

mouseover_win32/*.dll
mouseover_win32/*.a

locale/*.qm
debug/
build/
release/
tmp/
NomadDictionary
winlibs/lib32-48/

Makefile
Makefile.Debug
Makefile.Release

NomadDictionary.pro.user
NomadDictionary.pro.user.*
object_script.NomadDictionary.Debug
object_script.NomadDictionary.Release

version.txt

.gitattributes

.DS_Store
Info.plist
GoldenDict.xcodeproj/

# visual studio files
*.sdf
*.opensdf
*.suo
*.vcxproj.user
